<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Opciones de la app</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-menu-toggle auto-hide="false" >
            </ion-menu-toggle>
        <ion-list>
          
        <form [formGroup]="insertForm">
            <ion-item [routerDirection]="'root'" routerLink="/list">
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>
                  Listado de usuarios
              </ion-label>
            </ion-item>
            <ion-item (click)="getApi()" [routerDirection]="'root'" routerLink="/home">
              <ion-icon slot="start" name="play"></ion-icon>
              <ion-label>
                  prueba del API
              </ion-label>
            </ion-item>
           
          
          <ion-item lines="none">
            <ion-label color="primary" position="floating">Nombre </ion-label>
            <ion-input  formControlName="nombre" name="nombre" class="userInput"  type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="primary" position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" class="userInput" name="apellido"  type="text"></ion-input>
      </ion-item>
        <div style="width: 100%; text-align: center;">
          <ion-button (click)="adUser()" color="tertiary">Añadir Usuario</ion-button>
        </div>
      </form>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
