<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prueba metodo get
    </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content>
  
  <ion-list>
    
  </ion-list>
 
</ion-content>
